 .u-section-1 {
  background-image: url("images/df138a0df11e57bd31de5d13070976d1313b0f31edd6ecd460f561376ca96d2662530b8d943b186fbbfe0e8c368eb467439a8029dae04f6ae5e966_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/shutterstock_1276621966.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/8-ball-pool.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  min-height: 400px;
  background-image: url("images/6fa14c47809e3cac3a7a7f293a515a2769c40a1caf4cd6016736efa860f9964b640e8c581e81552093fbe8ef459d6f5384c94818e3f1905814c925_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-2 {
    min-height: 239px;
  }

  .u-section-1 .u-image-3 {
    min-height: 239px;
  }
}@font-face {
  font-family: 'GreatWishes';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GreatWishes.otf);
}
